@media only screen and (max-width: 900px) {
    
    .content2{
        display: none;
    }
    
    header, #nav_tabs, main, footer { 
      max-width: 100%;
      margin: auto;
    }
    .gallery {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 10px;
    }
    .images {
        display: none;
    }
    #nav_tabs a:not(:first-child) {display: none;}
    #nav_tabs a.icon {
        display: block;
        float: right;
    }
    #nav_tabs.responsive {position: relative;}
    #nav_tabs.responsive .icon {
        position: absolute;
        right: 10px;
        top: 5px;
    }
    #nav_tabs.responsive a {
        float: none;
        display: block;
        text-align: center;
    }
}