/* Large view style sheet for bike site*/
/*Orange-----#CA4B00
Yellow/Tan---#CA8D00
Green--------#009479
Blue---------#0020A3
Light Blue---#0881B2 */

/*--------UNIVERSAL---------*/
    body {
        max-width: 1140px;
        margin: auto;
    }
    h1, .site_title, .header {
        font-family: "Alegreya SC", serif;
    }
    main, nav > a {
        font-family: "Archivo Narrow", sans-serif; 
    }
    /*-------LOGO----------*/
    /*-------HEADER---------*/
    .top {
        display: grid;
        grid-template-columns: 1fr 10fr;
        align-items: center;
    }
    .site_title {
        text-align: center;
        color: #009479;
        font-size: 80px;
    }
    #cycle_link {
        margin-top: 10px;
        margin-left: 15px;
    }
    #cycle_link > a {
        color: aliceblue;
        padding: 15px;
        font-size: 30px;
        background: #009479;
        border-radius: 6px;
    }
    .register {
        text-align: center;
        box-shadow: 1px 5px 50px; 
    }

    /*------MAIN-----------*/
    .header {
        color: #CA4B00;
        font-size: 100px;
        padding: 10px;
        text-shadow: 2px 2px black;
        text-align: center;
    }
    .reg_label{
        position: absolute;
    }
    #sales {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        padding-top: 10px;
        margin-bottom: 20px;
        margin-top: 60px;
        margin-bottom: 60px;
    }
    #tours {
        display: grid;
        grid-template-columns: 8fr 8fr;
        padding-top: 10px;
        align-content: center;
    }
    figcaption, .fig_tour {
        font-size: 30px;
        padding-left: 8px;
        padding-bottom: 20px;
    }
    .fig_tour {
        padding-left: 35px;
        text-align: left;
    }
    #fig_tour_site1, #fig_tour_site2 {
        text-align: center;
        padding: 10px;
    }
    .adventure {
        background-image: url(../images/site_photos/montana_mt_2000px.jpg);
        background-repeat: no-repeat;
        background-size: contain;
        margin-bottom: 50px;
    }
    .adventure, .label {
        text-align: center;
    }
    .bike, .bike_sales {
        margin: 0px;
    }
    .bike,.tours {
        box-shadow: 0px 10px 50px;
    }
    .tours {
        text-align: center;
    }
    #link_sales:link, #link_sales:visited, #link_sales:active {
        text-decoration:  none;
        color: black;
    }
    #link_sales:hover {
        color: #CA4B00;
    }
    /*------NAVICATION-------*/
    .dropdown {
        display: none;
    }
    nav {
        margin: 0;
    }
    .nav_ul {
        list-style-type: none;
        display: inline-flex;
        text-align: center;
    }
    #nav_tabs, footer {
        background-color: #0881B2;
        font-size: 25px;
        padding: 5px;
        font-family: 'Muli', sans-serif; 
    }
    .tabs, .foot_tabs {
        display: inline-flex;
        color: aliceblue;
        padding: 5px;
        margin: 5px;
        text-decoration: none;
    }
    .active {
        background-color: aliceblue;
        color: #0881B2
    }
    .active:hover {
        color: aliceblue;
    }
    .tabs:hover, .foot_tabs:hover, #cart:hover {
        background-color: #009479;
    }
    /*------FOOTER-----------*/
    footer {
        color: aliceblue;
        text-align: center;
    }
    /*-----CONTACT PAGE------------*/
    h1 {
        margin: 0px;
        font-size: 50px;
    }
    #info {
        padding: 10px;
        text-align: center;
        color: aliceblue;
        background-color: #0881B2;  
    }
    #info > label, #info > address {
        font-size: 30px;
    }
    #map {
        text-align: center;
    }
    /*------EVENT PAGE-----------*/
    label{
        display: block;
    }
    input{
        width: 75%;
    }
    .small{
        width: inherit;
    }
    fieldset{
        border: 3px solid #009479;
        padding-bottom: 10px;
        margin: 5px;
    }
    .key{
        display: inline;
    }
    legend{
        font-size: 20px;
        color: #CA4B00;
        font-weight: bolder;
    }
    .tab {
        overflow: hidden;
        border: 1px solid #ccc;
        background-color: #f1f1f1;
    }

    /* Style the buttons inside the tab */
    .tab button {
        background-color: inherit;
        float: left;
        border: none;
        outline: none;
        cursor: pointer;
        padding: 14px 16px;
        transition: 0.3s;
        font-size: 17px;
    }

    /* Change background color of buttons on hover */
    .tab button:hover {
        background-color: #ddd;
    }

    /* Create an active/current tablink class */
    .tab button.active {
        background-color: #ccc;
    }

    /* Style the tab content */
    .tabcontent {
        display: none;
        padding: 6px 12px;
        border: 1px solid #ccc;
        border-top: none;
    }
    /*-----PRODUCTS PAGE------------*/
    #bike_content1, #bike_content2, #bike_content3 {
        display: none;
        padding: 10px;
        border: 2px solid #009479;
    }
    .bike_sales {
        text-align: center;
        padding-top: 5px;
    }
    .bike_sales:hover {
        background-color: #009479; 
    }
    /*------SERVICE PAGE-----------*/
    #quote {
        font-size: 30px;
        text-align: center;
    }
    table, th, td {
        border: 1px solid #bbbbbb;
        border-collapse: collapse;
        font-family: Ubuntu, sans-serif;
    }
    table {
        box-shadow: 8px 8px 15px #628ca6;
    }
    th, td {
        padding: 10px;
        text-align: center;
    }
    tbody:nth-child(odd){
        background-color: #e7ffed;
    }
    tr:nth-child(even){
        background-color: #e7f0ed;
    }
/*-------NAV TRIAL----------*/

/*------REGISTRATION PAGE-----------*/
.reg_ul {
    color: #CA4B00;
    font-size: 20px
}
/*------TOUR PAGE-----------*/
.reg {
    background-color: #0881B2;
    border: 3px outset #0881B2;
}
