/* Large view style sheet for bike site*/
/*Orange-----#CA4B00
Yellow/Tan---#CA8D00
Green--------#005F47
Blue---------#0020A3  */

/*--------UNIVERSAL---------*/
* {
    max-width: 2000px;
    margin: auto;
}
h1, .site_title, .header {
    font-family: "Alegreya SC", serif;
}
main, nav > a {
    font-family: "Archivo Narrow", sans-serif; 
}
hearder, main, footer, nav {
    
    
}
/*-------LOGO----------*/
#logo {
    
}
/*-------HEADER---------*/
#top {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}
.site_title, .header {
    color: #005F47;
    font-size: 100px;
    padding: 10px;
}
#cart {
}
#tag_line {
    font-size: 100px;
    color: #005F47;
    padding: 10px;
}
#cycle_link {
    margin-top: 10px;
    margin-left: 15px;
}
#cycle_link > a {
    color: aliceblue;
    padding: 20px;
    font-size: 50px;
    background: #005F47;
    border-radius: 6px;
}

/*------MAIN-----------*/
.label{
    position: absolute;
}
#sales {
    display: grid;
    grid-template-columns: 1fr 5fr 1fr;
    padding-top: 10px;
    margin-bottom: 10px;
    
}
#tours {
    display: grid;
    grid-template-columns: 8fr 8fr;
    padding-top: 10px;
    align-content: center;
}
figcaption {
    font-size: 30px;
    padding-left: 10px;
    padding-bottom: 20px;
}
.adventure {
    background-image: url(../images/site_photos/montana_mt_2000px.jpg);
    background-repeat: no-repeat;
    background-size: contain;
    margin-bottom: 10px;
}
.bike, .tours {
    Box-shadow: 10px 10px 10px gray; 
}
/*------NAVICATION-------*/
nav {
    margin: 0;
}
#nav_tabs, footer {
    background-color: #0020A3;
    font-size: 25px;
    padding: 5px;
    font-family: 'Muli', sans-serif; 
}
#nav_tabs {
}
.tabs, .foot_tabs {
    display: inline-flex;
    color: aliceblue;
    padding: 5px;
    margin: 5px;
    text-decoration: none;
}
.active {
    background-color: aliceblue;
    color: #0020A3
}
.active:hover {
    color: aliceblue;
}
.tabs:hover, .foot_tabs:hover {
    background-color: #005F47;
}
.icon:hover {
    background-color: aliceblue;
}
a.tabs.icon{
    display: none;
}
/*------FOOTER-----------*/
footer {
    color: aliceblue;
    text-align: left;
}


/*-----------------*/
/*-----------------*/
/*-----------------*/
/*-----------------*/
/*-----------------*/
/*-----------------*/
/*-----------------*/
/*-----------------*/
/*-----------------*/
/*-----------------*/
/*-----------------*/
/*-----------------*/
/*-----------------*/
/*-----------------*/
/*-----------------*/
/*-----------------*/
/*-----------------*/
/*-----------------*/
