@media only screen and (max-width: 600px) {
/*--------UNIVERSAL---------*/
/*-------LOGO----------*/
/*-------HEADER---------*/
/*--------MAIN---------*/
#sales {
    display: grid;
    grid-template-columns: 1fr;
    padding-top: 10px;
    margin-bottom: 20px;
}
/*------NAVICATION-------*/
/*------FOOTER-----------*/
}
