@media only screen and (max-width:800px) {
/*-------LOGO----------*/
    #logo {
        max-width: 75%;
        margin: auto;
    }
/*-------HEADER---------*/
    .site_title {
        font-size: 40px;
    }
    .site_title > h3 {
        font-size: 20px;
    }
    .reg_label {
        position: relative;
        padding: 0px;
    }
    .site_image {
        display: none;
    }
    .header {
        font-size: 30px;
        text-shadow: 1px 1px black;
        max-width: 100%;
        margin: auto;
    }
     #cycle_link {
        margin-top: 10px;
        margin-left: 15px;
    }
    #cycle_link > a {
        padding: 2px;
        font-size: 20px;
        background: #009479;
        border-radius: 2px;
    }
    .register {
    }
/*--------MAIN---------*/
     main {
        text-align: center;
    }
    #sales, .top {
        display: grid;
        grid-template-columns: 1fr;
        padding-top: 0px;
    }
    .top {
        text-align: center;
    }
    #tours {
        display: block;
        padding-top: 1px; 
    }
    .tours,#sales, .top {
        margin: 0px;
    }
    #sales {
        padding: 0px;
    }
    .tour_img, .bike_img, #tour, .bike_sales {
        max-width: 360px;
    }
    .adventure {
        background-image: none;
        margin-bottom: 0px;
    }
    .fig_tour {
        padding-left: 0px;
        padding: 8px;
        text-align: center;
    }
    ul{
        list-style: none;
    }
    /*------NAVICATION-------*/
    .nav_ul {
        display: none;
    }
    .dropbtn {
    background-color: #0881B2;
    color: aliceblue;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    }

    .dropbtn:hover, .dropbtn:focus {
        background-color: #2980B9;
    }

    .dropdown {
        position: relative;
        display: inline-block;
    }

    .dropdown-content {
        display: none;
        position: absolute;
        background-color: aliceblue;
        min-width: 160px;
        overflow: auto;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        z-index: 1;
    }

    .dropdown-content a {
        color: #2980B9;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
    }

    .dropdown a:hover {
        background-color: #0881B2;
        color: aliceblue;
    }

    .show {display: block;}
}

